@use "../global" as *;

// ファーストビュー（トップページ）
.fv {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  background-image: url(../image/mv.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.fv__container {
  width: 100%;
  max-width: $inner;
}

.fv__content {
  position: absolute;
  width: calc(1051 / 1920 * 100%);
  left: calc(88 / 1920 * 100%);
  bottom: calc(93 / 1080 * 100%);
}

.fv__title {
  font-size: calc(28 / 1920 * 100vw );
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.04em;
  position: absolute;
  bottom: calc(74 / 311 * 100%);
  right: calc(80 / 1051 * 100%);
  color: $color-white;
  @include mq(md) {
    font-size: rem(40);
  }
}

.fv__subtitle {
  width: 100%;
  opacity: 0.8;
}

.fv__container::after {
  content: "";
  width: 100%;
  padding-top: calc(1080 / 1920 * 100%);
  display: block;
  
  @include mq(md) {
    padding-top: calc(1000 / 600 * 100%);
  }
}

@include mq(md) {
  .fv__content {
    width: calc(100% - 40px);
    left: 20px;
  }
  .fv__title {
    position: static;
    margin-bottom: rem(20);
    font-size: rem(28);
  }
}