@use "../global" as *;

// COMPANY(会社概要)ページ
.page-company {
  padding-top: 80px;

  @include mq(md) {
    padding-top: 60px;
  }
}

// MESSAGE セクション
.message {
  background-color: $color-bg;
}

.message__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 $padding-pc;

  @include mq(md) {
    padding: 0 $padding-sp;
  }
}

.message__content {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.message__text {
  font-size: rem(16);
  line-height: 2;
  color: $color-main_gray;

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.9;
  }
}

.message__text strong {
  display: block;
  margin-top: rem(24);
  font-size: rem(16);
  color: $color-theme;

  @include mq(md) {
    margin-top: rem(20);
    font-size: rem(14);
  }
}

// COMPANY セクション
.company {
  background-color: $color-white;
}

.company__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 $padding-pc;

  @include mq(md) {
    padding: 0 $padding-sp;
  }
}

.company__content {
  max-width: 800px;
  margin: 0 auto;
}

.company__table {
  width: 100%;
  border-collapse: collapse;
}

.company__table tr {
  border-bottom: 1px solid #e0e0e0;
}

.company__table tr:last-child {
  border-bottom: none;
}

.company__table th,
.company__table td {
  padding: rem(24) rem(16);
  text-align: left;
  vertical-align: top;
  line-height: 1.8;

  @include mq(md) {
    padding: rem(16) rem(12);
    display: block;
    width: 100%;
  }
}

.company__table th {
  font-weight: $bold;
  color: $color-theme;
  width: 30%;
  font-size: rem(16);

  @include mq(md) {
    width: 100%;
    padding-bottom: rem(8);
    font-size: rem(14);
  }
}

.company__table td {
  color: $color-main_gray;
  font-size: rem(16);

  @include mq(md) {
    padding-top: 0;
    font-size: rem(14);
  }
}
