@use "../global" as *;

// COMPANY（会社概要）ページ
.page-company {
  padding-top: 80px;

  @include mq(md) {
    padding-top: 60px;
  }

  // MESSAGE セクション
  .message {
    background-color: $color-bg_gray;

    &__container {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 $padding-pc;

      @include mq(md) {
        padding: 0 $padding-sp;
      }
    }

    &__content {
      text-align: center;
    }

    &__text {
      font-size: rem(18);
      line-height: 1.8;
      color: $color-main_gray;

      @include mq(md) {
        font-size: rem(16);
      }
    }
  }

  // COMPANY セクション
  .company {
    background-color: $color-white;

    &__container {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 $padding-pc;

      @include mq(md) {
        padding: 0 $padding-sp;
      }
    }

    &__content {
      max-width: 800px;
      margin: 0 auto;
    }

    &__table {
      width: 100%;
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
          border-bottom: none;
        }
      }

      th,
      td {
        padding: rem(20) rem(16);
        text-align: left;
        vertical-align: top;

        @include mq(md) {
          padding: rem(16) rem(12);
          display: block;
          width: 100%;
        }
      }

      th {
        font-weight: $bold;
        color: $color-theme;
        width: 30%;
        font-size: rem(16);

        @include mq(md) {
          width: 100%;
          padding-bottom: rem(8);
          font-size: rem(14);
        }
      }

      td {
        color: $color-main_gray;
        font-size: rem(16);

        @include mq(md) {
          padding-top: 0;
          font-size: rem(14);
        }
      }
    }
  }
}
