@use "../global" as *;

.section--work-style {
  padding: rem(80) 0;
  background-color: $color-bg_gray;
}
.section--work-style .inner {
  max-width: calc(345px + (345px + 20px)*2 + 60px);
}

.section__title.section__title--work-style {
  text-align: left;
}

.work-style__text {
  margin-top: rem(20);
  font-size: clp(16);
  line-height: 1.8;
}

.work__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.work__item {
  background: linear-gradient(45deg, #0058B4 0%, #0070C5 50%, #089BE9 100%);
  color: #fff;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}
.work__item::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.work__item-container {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.work__item-number {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: $second-font-family;
  color: transparent;
  -webkit-text-stroke: 0.1px #fff;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.work__item-text {
  margin-bottom: 10px;
}

.work__item-text-head {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: rem(24);
}

.work__item-text-description {
  font-size: rem(15);
}

.work__item-image {
  margin-top: auto;
  margin-left: auto;
}
.work-style__head-en {
  font-size: rem(20);
  color: $color-theme;
  font-family: $second-font-family;
  letter-spacing: -0.02em;
  line-height: 0.82;
  margin-bottom: rem(20);
  text-transform: uppercase;
}
.work-style__head-ja {
  font-weight: $bold;
  font-size: rem(36);
  line-height: 1; 
  letter-spacing: 0.03em;
}
.work-style__head-ja span {
  letter-spacing: -0.23em;
}
.work-style__head-group {
  margin-bottom: rem(47);
}
.work__item-text {
  letter-spacing: 0.03em;
}
.work__item-head {
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1.32;
  margin-bottom: rem(12);
}
.work__item-description {
  font-size: rem(15);
  line-height: 1.56;
  letter-spacing: -0.02em;
}
.work__item-image {
  max-width: 35%;
  width: 100%;
}
@media screen and (max-width:1135px) {
  .work__item-number {
    font-size: calc(#{32} * 100vw / #{1135});
  }
  .work__item-head {
    font-size: calc(#{24} * 100vw / #{1135});
  }
  .work__item-description {
    font-size: calc(#{16} * 100vw / #{1135});
  }
}

@include mq(md) {
  .section--work-style {
    padding: rem(124) 0 rem(40);
  }
  .work-style__head-ja {
    font-size: rem(20);
  }
  .work-style__head-en {
    font-size: rem(16);
    margin-bottom: rem(16);
  }
  .work__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(8);
  }
  
  .work__item {
    width: 100%;
    height: auto;
  }
  .work__item::before {
    padding-top: 125%;
  }
  .work__item-container {
    padding: rem(8);
  }
  .work__item-number {
    font-size: rem(16);
    margin-bottom: 0;
  }
  
  .work__item-head {
    font-size: rem(12);
    margin-bottom: rem(6);
  }
  
  .work__item-description {
    font-size: rem(6);
  }
  .work__item-image {
    max-width: 30%;
    margin-top: auto;
  }
}